Ma {
    color:red;
}
Mb{
    color:blue;
}
.IMG1{
    height: 10px !important;
    width: 20px !important;
}
.IMG2{
    height: 50px;
    width: 50px;
}
.IMG3{
    height: 500px !important;
    width: 500pxn !important;
}
#UI{
    height: 50px;
    width: 50px;
    /* visibility: hidden; */
}